.navbar, .jumb-marg-neg {
    margin: 0;
}

.navbar-border-radius {
	border-radius: 0px;
}

.usluge-p-t {
    padding-top: 5%;
}

.identity {
	color: #503268;
}

.identity-bg {
	color: #fff;
	background-color: #503268;
}

.skole-bg {
	background-color: #ffffff;
}

.iframe-c {
	border: none;
}